In [ ]:
import pandas as pd

#criar series com uma lista

series1 = pd.Series([1,2,3,4])
series1

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#index da series
series1.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
#Criar Series com um dict

series2 = pd.Series(
    {
      "a":1,
     "b":2,
     "c":3,
     "d":4
     }
    )
series2

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
#index da Series com dict
series2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
#ler arquivo CSV
cols = ["longitude"	,"latitude","housing_median_age","population", "households","median_income"]
arquivo = "/content/sample_data/california_housing_test.csv"

In [ ]:
#index, coluna e shape do dataframe

In [ ]:
#head e info do DF

In [ ]:
#vamos baixar o dataset dos filmes do james bond
!wget --no-check-certificate 'https://drive.google.com/uc?export=download&id=1VhSehwUQBM_j27hbpCJwhnSQYtap0nCF' -O jamesbond.csv

--2024-09-23 18:57:36--  https://drive.google.com/uc?export=download&id=1VhSehwUQBM_j27hbpCJwhnSQYtap0nCF
Resolving drive.google.com (drive.google.com)... 172.253.115.102, 172.253.115.138, 172.253.115.100, ...
Connecting to drive.google.com (drive.google.com)|172.253.115.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1VhSehwUQBM_j27hbpCJwhnSQYtap0nCF&export=download [following]
--2024-09-23 18:57:36--  https://drive.usercontent.google.com/download?id=1VhSehwUQBM_j27hbpCJwhnSQYtap0nCF&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 172.253.122.132, 2607:f8b0:4004:c09::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|172.253.122.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1769 (1.7K) [application/octet-stream]
Saving to: ‘jamesbond.csv’

jamesbond.csv       100%[===================>]   1.73K  --.-KB/s    in 0s

2024-09-23 18:57:38 (24.3 MB/s) - ‘jamesbond.csv’ saved [1769/1769]

In [ ]:
#ler csv do jamesbond
path_arquivo_bond = "jamesbond.csv"

In [ ]:
#iloc com um número e uma slice

In [ ]:
#colocar o index do DF do bond como o nome do filme ("Film")

#ler o CSV e já colocar a coluna como index

In [ ]:
#.loc com o nome do index (str)

In [ ]:
#.loc com uma lista de indexes

In [ ]:
#.loc com slice

In [ ]:
#.at para acessar e modificar valores

In [ ]:
#filtrar dataframe pelas linhas onde os atores são: "Sean Connery" ou  "Sir Sean Connery"

In [ ]:
# acessar a coluna "Bond Actor Salary" e usar os métodos .mean() , max() , std()

In [ ]:
# acessar a coluna "Actor" e usar value_counts()

In [ ]:
#Exercicio de Merge/Join

# Listas de frutas e seus países de origem
frutas = ["Maçã", "Laranja", "Ameixa", "Uva", "Mirtilo", "Melancia"]
paises_frutas = ["Brasil", "Espanha", "Portugal", "Itália", "EUA", "Brasil"]

df_frutas = pd.DataFrame({'Fruta': frutas, 'País': paises_frutas})

esportes = ["Futebol", "Basquete", "Vôlei", "Tênis", "Natação"]
paises_esportes = ["Brasil", "EUA", "Brasil", "França", "EUA"]

# Criando DataFrame de esportes
df_esportes = pd.DataFrame({'Esporte': esportes, 'País': paises_esportes})

In [ ]:
#inner join

In [ ]:
#outer join

In [ ]:
#groupby Actor

In [ ]:
#acessar coluna "Bond Actor Salary" do groupby e usar as func de aggregação .mean(), .max() e .count()